<div class="panel panel-primary col-md-offset-2 col-md-6">
  <div class="panel-body row">
    <h2>Add Shopkeeper</h2>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" id="iname"  name="name" required data-validation-required-message>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Passwork</label>
        <input type="password"  class="form-control" placeholder="password" id="ides"  name="description" required data-validation-required-message>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>First name</label>
        <input type="text" class="form-control" placeholder="First name" id="iamount"  name="amount" required data-validation-required-message>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Last name</label>
        <input type="text" class="form-control" placeholder="Last name" id="iprice"  name="price" required data-validation-required-message>
      </div>
    </div>

    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="E-mail" id="irate" name="rate"required data-validation-required-message>
      </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
      <div class="form-group col-xs-12">
        <button type="button" class="btn btn-success btn-lg" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
